* {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1,
.h1 {
    font-size: 12.25rem;
    font-weight: 900;
}
h1.pixelated,
.h1.pixelated,
h1 .pixelated,
.h1 .pixelated {
    font-size: calc(12.25rem * 0.5625);
}

h2,
.h2 {
    font-size: calc(7rem * var(--unit));
}
h2.pixelated,
.h2.pixelated,
h2 .pixelated,
.h2 .pixelated {
    font-size: calc(7rem * 0.5625 * var(--unit));
}

h3,
.h3 {
    font-size: 2rem;
}
h3.pixelated,
.h3.pixelated,
h3 .pixelated,
.h3 .pixelated {
    font-size: calc(2rem * 0.5625);
}

p,
.p {
    font-size: 2rem;
}

.p2 {
    font-size: 16px;
}

body {
    font-family: "Unageo", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

b,
.bold {
    font-weight: 700;
}

.regular {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.spaced {
    letter-spacing: 0.1rem;
}

.pixelated {
    font-family: "IllusionSerif", monospace;
}

.uppercase {
    text-transform: uppercase;
}
